/**
 * @name DOOM ETERNAL INTRO
 * @author Иван Попов_2
 * @version auto updates
 * @description Theme was created in generator https://vsthemes.org/generator/
 * @source https://vsthemes.org/en/skins/discord/49984-doom-eternal-intro.html
 * @authorLink https://vsthemes.org/user/%D0%98%D0%B2%D0%B0%D0%BD+%D0%9F%D0%BE%D0%BF%D0%BE%D0%B2_2/
 * @authorId 93159
*/
@import url(https://vsthemes.org/uploads/generator/client/BasicBackground.css);
:root {
    --transparencycolor: 0,0,0;
    --transparencyalpha: 0.2;
    --messagetransparency: 0.5;
    --guildchanneltransparency: 0.2;
    --memberlistransparency: 0;
    --accentcolor: 179,101,20;
    --background: url("https://vsthemes.org/uploads/posts/2022-02/1644701850_doom-eternal-id-software-bethesda-softworks-hell-palach-roka.webp");
    --backdrop: rgba(0,0,0,0.2);
    --backgroundblur: 0px;
    --popoutblur: 0px;
    --backdropblur: 0px;
    --version1_0_5:none;
    --backgroundsize: cover;
    --popoutsize: cover;
    --backdropsize: cover;
}
